{% extends "base.html" %}
{% load static %}
{% block title %}{{ client.name }}{% endblock %}
{% block js %}
    <script src="{% static 'bokeh-3.9.2.min.js' %}"></script>
    <script src="{% static 'bokeh-widgets-3.9.2.min.js' %}"></script>
    <script src="{% static 'luxon.min.js' %}"></script>
    <script src="{% static 'links.js' %}" type="module"></script>
    <script src="{% static 'online.js' %}" type="module"></script>
{% endblock %}
{% block action %}
    <button class="btn btn-outline-danger mx-lg-3 my-3 my-lg-0 text-uppercase"
            data-bs-target="#modal"
            data-bs-toggle="modal">Remove</button>
{% endblock %}
{% block main %}
    <div class="card my-4">
        <div class="align-items-center card-header d-flex gap-3 justify-content-between">
            <div class="w-50">{{ client.name }}</div>
            <small class="d-none text-end text-uppercase w-50"
                   data-name="{{ client.name }}">Online</small>
        </div>
        <ul class="list-group list-group-flush">
            <li class="align-items-center d-flex gap-3 justify-content-between list-group-item">
                <div class="w-50">Downloaded</div>
                <div class="text-end w-50">{{ client.stats.down.total|filesizeformat }}</div>
            </li>
            <li class="align-items-center d-flex gap-3 justify-content-between list-group-item">
                <div class="w-50">Uploaded</div>
                <div class="text-end w-50">{{ client.stats.up.total|filesizeformat }}</div>
            </li>
            <li class="align-items-center d-flex gap-3 justify-content-between list-group-item">
                <div class="w-50">Created At</div>
                <div class="text-end w-50">{{ client.created_at }}</div>
            </li>
            <li class="align-items-center d-flex gap-3 justify-content-between list-group-item">
                <div class="w-50">UUID</div>
                <div class="text-end w-50">{{ client.uuid }}</div>
            </li>
            <li class="align-items-center d-flex gap-3 justify-content-between list-group-item">
                <div class="w-50">Links</div>
                <div class="d-flex flex-wrap gap-3 justify-content-end w-50">
                    <button class="btn btn-outline-secondary text-uppercase"
                            data-link="{{ client.vless }}">VLESS</button>
                    <button class="btn btn-outline-secondary text-uppercase"
                            data-link="{{ client.vmess }}">VMess</button>
                </div>
            </li>
            {% with plot=client.plot %}
                {% if plot %}
                    <li class="list-group-item">{{ plot|safe }}</li>
                {% endif %}
            {% endwith %}
        </ul>
    </div>
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove a client</h5>
                </div>
                <div class="modal-body">
                    <span>Are you sure you want to remove this client?</span>
                    <form action="{% url 'clients:remove' %}" id="form" method="post">
                        {% csrf_token %}
                        <input name="id" type="hidden" value="{{ client.id }}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" form="form">Remove</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
